# Extract keywords from product descriptions by using NLP TECHINQUE

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv(r"C:\Users\Gaurav\Desktop\final data NLP.csv")
data

,BrandName,Category,Individual_category,category_by_Gender,OriginalPrice (in Rs),Discount (in Rs),Discount (in %),Ratings,Reviews,Description
0,Roadster,Bottom Wear,jeans,Men,1499.0,824.45,45,3.9,999,roadster men navy blue slim fit mid rise clean...
1,LOCOMOTIVE,Bottom Wear,track-pants,Men,1149.0,517.05,55,4.0,999,locomotive men black white solid slim fit tra...
2,Roadster,Topwear,shirts,Men,1399.0,629.55,55,4.3,999,roadster men navy white black geometric print...
3,Zivame,Lingerie & Sleep Wear,shapewear,Women,1295.0,893.55,31,4.2,999,zivame women black saree shapewear zi3023core0...
4,Roadster,Western,tshirts,Women,599.0,389.35,35,4.2,999,roadster women white solid v neck pure cotton ...
...,...,...,...,...,...,...,...,...,...,...
184908,Roadster,Western,tshirts,Women,998.0,0.00,0,4.1,0,roadster women pack of 2 solid cotton t shirt
184909,Roadster,Western,tshirts,Women,998.0,0.00,0,4.2,0,roadster women set of 2 pure cotton t shirts
184910,Roadster,Western,tshirts,Women,998.0,0.00,0,4.2,0,roadster women pack of 2 solid cotton t shirt
184911,Roadster,Western,tshirts,Women,998.0,0.00,0,4.2,0,roadster women pack of 2 solid cotton t shirt
184912,Roadster,Western,tshirts,Women,999.0,0.00,0,4.3,0,roadster women pack of 2 v neck cotton pure co...

In [4]:
import random
import pandas as pd

df = pd.DataFrame(data.Description)

# Choose a random sample of 5 rows from the DataFrame
data1 = df.sample(n=20,replace=False)


# Print the random sample
#print(data1)
data2= pd.DataFrame(data1)
data2

                                              Description
173277  belle fille women sea green solid hooded sweat...
174433  lamaaya men yellow  cream coloured woven desig...
3099    dressberry women blue skinny fit mid rise clea...
178787  redround pink embroidered sequinned semi stitc...
95386                     lebami women off white tube top
115398  snarky gal women pink  grey wonder woman print...
115899         sztori women plus size navy blue solid top
159167  louis philippe jeans men navy blue slim fit lo...
97924   xpose women black solid high rise skinny fit t...
92070                   kazo rust brown regular solid top
110928         mitera solid saree with embellished border
59793   herenow women black  golden pure cotton solid ...
141539  louis philippe men grey textured slim fit form...
120992   indibelle yellow  brown printed open front shrug
131206  snarky gal women black  yellow batgirl printed...
5914    roadster men navy blue skinny fit light fade s...
4171    sangria women blue  white floral print a line ...
179966       urbanic women pink checked longline pullover
133128  libas taupe  navy blue ethnic print chanderi s...
169179  roadster women stunning blue solid denim truck...

In [96]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Create a TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=20)  # Adjust the number of features as needed

# Fit and transform your product descriptions
tfidf_matrix = tfidf_vectorizer.fit_transform(data2.Description)

# Get the feature names (keywords)
keywords = tfidf_vectorizer.get_feature_names_out()
keywords

array(['blue', 'cotton', 'design', 'dress', 'fit', 'green', 'grey',
       'maroon', 'men', 'navy', 'pink', 'pure', 'regular', 'shirt',
       'shorts', 'solid', 'top', 'trousers', 'white', 'women'],
      dtype=object)

In [112]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

# Load your Myntra fashion dataset into a Pandas DataFrame
# Assuming the product descriptions are in a column named 'description'

# Preprocess the text
product_descriptions = data2['Description'].apply(lambda x: x.lower())

# Create a TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=20)  # Adjust the number of features as needed

# Fit and transform your product descriptions
tfidf_matrix = tfidf_vectorizer.fit_transform(product_descriptions)


# Get the feature names (keywords)
keywords = tfidf_vectorizer.get_feature_names_out()

# Sum the TF-IDF scores for each term across all product descriptions
tfidf_scores = tfidf_matrix.sum(axis=0)
print("TfIdf_Scores:", tfidf_scores)

# Sort the terms based on their TF-IDF scores
sorted_keywords = [keywords[i] for i in tfidf_scores.argsort()[0, ::-1]]

# Select the top N keywords
top_keywords = sorted_keywords[:20]
    
# Display or save the keywords
print("Top_Keywords:", top_keywords)

TfIdf_Scores: [[2.77665156 1.71079288 1.60519785 1.14726929 1.79495647 1.96019725
  1.79676408 1.5566384  3.56230402 2.38909791 1.37520077 1.34615921
  1.4286975  1.31973881 1.81514583 1.75216005 1.54376016 0.98126734
  1.39580828 2.33110289]]
Top_Keywords: [array([['men', 'blue', 'navy', 'women', 'green', 'shorts', 'grey', 'fit',
        'solid', 'cotton', 'design', 'maroon', 'top', 'regular', 'white',
        'pink', 'pure', 'shirt', 'dress', 'trousers']], dtype=object)]

In [128]:
import pandas as pd
Top_Keywords = ['men', 'blue', 'navy', 'women', 'green', 'shorts', 'grey', 'fit', 'solid', 'cotton', 'design', 'maroon', 
                 'top', 'regular', 'white', 'pink', 'pure', 'shirt', 'dress', 'trousers']
TfIdf_Scores = [2.77665156, 1.71079288, 1.60519785, 1.14726929, 1.79495647, 1.96019725, 1.79676408, 1.5566384, 3.56230402, 2.38909791, 1.37520077, 1.34615921, 1.4286975, 1.31973881, 1.81514583, 1.75216005, 1.54376016, 0.98126734, 1.39580828, 2.33110289]


keyword_df = pd.DataFrame({'Description': data2['Description'],
                           'Keywords': Top_Keywords,'tfidf_Scores' : TfIdf_Scores
                          })

# Print the DataFrame
print(keyword_df)

                                              Description  Keywords  \
6040      wrogn men navy blue striped henley neck t shirt       men
23789   orchid blues navy blue sweetheart neck net reg...      blue
135930                   arise men olive green sweatshirt      navy
56364   laado   pamper yourself women maroon hem desig...     women
21339               vimal charcoal grey lounge shorts d13     green
85627   spykar men black  white tapered fit striped re...    shorts
134151  tommy hilfiger men navy blue  off white slim f...      grey
89062       bannos swagger yellow printed maxi nightdress       fit
59042   roadster men mustard brown solid pure cotton r...     solid
177804             sg leman men navy blue angrakkha kurta    cotton
67473   anouk women maroon solid a line dress with pri...    design
108957   dixcy scott men blue colourblocked sports shorts    maroon
70081           klamotten pink self design baby doll yy07       top
81636      reebok men green polo collar speedwick t shirt   regular
171749  kalini green  white pure cotton checked dharma...     white
54946           cherokee women grey solid pure cotton top      pink
90433   roadster men charcoal grey skinny fit light fa...      pure
138841  boston club women black  purple colourblocked ...     shirt
87235      marks  spencer pink solid extended sleeves top     dress
104728           biba navy blue  maroon a line midi dress  trousers

        tfidf_Scores
6040        2.776652
23789       1.710793
135930      1.605198
56364       1.147269
21339       1.794956
85627       1.960197
134151      1.796764
89062       1.556638
59042       3.562304
177804      2.389098
67473       1.375201
108957      1.346159
70081       1.428697
81636       1.319739
171749      1.815146
54946       1.752160
90433       1.543760
138841      0.981267
87235       1.395808
104728      2.331103