# Recommend_products is based on (Individual_category, Price, Ratings,Reviews)

In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv(r"C:\Downloads\final data.csv")
data.head(3)

,Product_id,BrandName,Category,Individual_category,category_by_Gender,OriginalPrice (in Rs),Discount (in Rs),Discount (in %),Ratings,Reviews,SizeOption,Description
0,2296012,Roadster,Bottom Wear,jeans,Men,1499.0,824.45,45,3.9,999,"28, 30, 32, 34, 36",roadster men navy blue slim fit mid rise clean...
1,13780156,LOCOMOTIVE,Bottom Wear,track-pants,Men,1149.0,517.05,55,4.0,999,"S, M, L, XL",locomotive men black white solid slim fit tra...
2,11895958,Roadster,Topwear,shirts,Men,1399.0,629.55,55,4.3,999,"38, 40, 42, 44, 46, 48",roadster men navy white black geometric print...

In [3]:
# Extract the column containing the individual categories
category_column = data['Individual_category']

# Count the occurrences of each category
category_counts = category_column.value_counts()

# Print the category counts
print(category_counts)

tshirts                23169
tops                   15299
dresses                13312
jeans                  13293
kurtas                 11769
                       ...
scarves                    5
necklace-and-chains        5
harem-pants                2
hair-accessory             1
heels                      1
Name: Individual_category, Length: 85, dtype: int64

# Recommend_products based on (Ratings, Reviews, Price, Individual_category)

In [2]:
import pandas as pd

# Load the shopping dataset
data=pd.read_csv(r"C:\Downloads\final data.csv")

# Calculate the weighted average score for each product and add it as a new column
data["weighted_score"] = data["Ratings"] * data["Reviews"] / data["OriginalPrice (in Rs)"]

# Define a function to recommend products based on rating, reviews, price, and category
def recommend_products(rating, reviews, price, category):
    # Filter the products based on the given rating, reviews, price, and category
    filtered_products = data[
        (data["Ratings"] >= rating)
        & (data["Reviews"] >= reviews)
        & (data["OriginalPrice (in Rs)"] <= price)
        & (data["Individual_category"] == Individual_category)
    ]

    # Sort the filtered products by weighted score in descending order
    filtered_products = filtered_products.sort_values(by="weighted_score", ascending=False)

    # Return the top 10 recommended products
    return filtered_products.head(10)

In [3]:
# Example usage
Ratings = 4
Reviews = 500
Price = 1000
Individual_category = "tops"  # Replace with the desired category

recommended_products = recommend_products(Ratings, Reviews, Price, Individual_category)

# Print the recommended products
print(recommended_products)

      Product_id        BrandName Category Individual_category  \
5        2490950   Mast & Harbour  Western                tops
414     11373682         Roadster  Western                tops
1585     8330195         Roadster  Western                tops
730      2490953   Mast & Harbour  Western                tops
1187    11373642         Roadster  Western                tops
380     11735666  her by invictus  Western                tops
1336     2490952   Mast & Harbour  Western                tops
713       807931         La Zoire  Western                tops
276     12009564    Tokyo Talkies  Western                tops
1628    10964506         Roadster  Western                tops

     category_by_Gender  OriginalPrice (in Rs)  Discount (in Rs)  \
5                 Women                  599.0            359.40
414               Women                  599.0            269.55
1585              Women                  499.0            299.40
730               Women                  599.0            329.45
1187              Women                  599.0            239.60
380               Women                  699.0            349.50
1336              Women                  599.0            359.40
713               Women                  699.0            559.20
276               Women                  799.0            423.47
1628              Women                  599.0            329.45

      Discount (in %)  Ratings  Reviews        SizeOption  \
5                  40      4.4      999   XS, S, M, L, XL
414                55      4.2      918   XS, S, M, L, XL
1585               40      4.2      749   XS, S, M, L, XL
730                45      4.2      866   XS, S, M, L, XL
1187               60      4.5      798   XS, S, M, L, XL
380                50      4.3      925  S, M, L, XL, XXL
1336               40      4.3      782   XS, S, M, L, XL
713                20      4.3      868       S, M, L, XL
276                47      4.4      946       S, M, L, XL
1628               45      4.2      742   XS, S, M, L, XL

                                            Description  weighted_score
5             mast  harbour women yellow solid tank top        7.338230
414   roadster women white  black solid a line pure ...        6.436728
1585  roadster women mustard yellow styled back pure...        6.304208
730                 mast  harbour women black solid top        6.072120
1187  roadster women black  white solid a line pure ...        5.994992
380   her by invictus navy blue  white floral pleate...        5.690272
1336            mast  harbour women pink solid tank top        5.613689
713                    la zoire green sheer knotted top        5.339628
276   tokyo talkies navy blue  white vertical stripe...        5.209512
1628  the roadster lifestyle co women mustard yellow...        5.202671